version: "1"
semgrep:
  severityLimit:
    error:
      enabled: true
      limit: 1
grype:
  # Ignore vulnerabilities with very low Exploit Probability Scores
  epssRiskAcceptance:
    enabled: true
    score: 0.001
  severityLimit:
    critical:
      enabled: false
    high:
      enabled: false
coverage:
  lineThreshold: 0.0
  functionThreshold: 0.0
  branchThreshold: 0.0
api:
  enabled: false
  endpoint: "https://api.example.com/v1/bundles"
  jwtToken: ""
  skipVerify: false
